@page "{id:int?}"
@model Pop_Vlad_Lab2.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var category in Model.CategoryData.Categories) {

            string selectedRow = "";
            if (category.ID == Model.CategoryID)
            {
                selectedRow = "table-success";
            }


        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => category.CategoryName)
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@category.ID">Select</a> |
                <a asp-page="./Edit" asp-route-id="@category.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@category.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@category.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.CategoryData.Books != null)
{
    <h3>Books in Selected Category</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.CategoryData.Books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author.FullName</td>
                </tr>
            }
        </tbody>
    </table>
}